<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Currículum Vitae Carlos Lucero</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <br>
  <div align="center">
    <img src="../../assets/images/2.jpg"> 
    <div class="ion-text-center">
     <h2>Colegio Técnico Industrial "Miguel De Santiago"</h2> 
      <h2>Título de Bachiller en "Electrónica De Consumo"</h2>
</div>
</div>

<div align="center">
  <img src="../../assets/images/3.jpg"> 
  <div class="ion-text-center">
   <h2>Sindicato de Choferes Profesionales de Pichincha</h2> 
    <h2>Licencia Profesional Tipo C</h2>
</div>
</div>

<div align="center">
  <img src="../../assets/images/4.png"> 
  <div class="ion-text-center">
   <h2>Centro de Educación Continua CEC</h2> 
    <h2>Suficiencia en el Idioma Extrangero Inglés</h2>
</div>
</div>

<div align="center">
  <img src="../../assets/images/5.png"> 
  <div class="ion-text-center">
   <h2>Escuela Politécnica Nacional (ESFOT)</h2> 
    <h2>Tecnología en Análisis En Sistemas Informaticos</h2>
</div>
</div>


</ion-content>
