<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Currículum Vitae Carlos Lucero</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <br>
  <div align="center">
    <img src="../../assets/images/6.png"> 
    <div class="ion-text-center">
     <h2>PROASSISMED</h2> 
      <h2>Soporte Técnico Nivel 1 </h2>
      <h2>1 Año</h2>
  </div>
  </div>
  
  <div align="center">
    <img src="../../assets/images/7.jpg"> 
    <div class="ion-text-center">
     <h2>Restaurante "Pekín"</h2> 
      <h2>Administrador</h2>
      <h2>8 años</h2>
  </div>
  </div>

</ion-content>
